body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222020;
}
.container {  display: flex;              /* Change to flex */
    justify-content: center;    /* Center horizontally */
    align-items: center;        /* Center vertically */
    height: 100vh;              /* Full viewport height to ensure centering */
    text-align: center; }

/*typewriter animation*/
.text{
    color:antiquewhite;
    font-family: monospace;
    font-size: 50px;
    border-right: .15em solid;
    white-space: nowrap;
    overflow: hidden;
    width: 36em;
    animation: 
    typing 3s steps(150),
    blink 0.8s step-end infinite;
    /* animation-delay: 1s; */
}

/*Typing animation to mimic typewriter*/
@keyframes typing {
    0% {width: 0;}
    99.9% {border-right: .15em solid orange;}
        100% {border: none;}
    }

/*Cursor blinking animation*/
@keyframes blink {
0%, 100% {
    border-color: #5b968e;
}
50% {
    border-color: transparent;}
    }

/*Linkedin logo*/
#social-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between icons */
}

#social-links a {
    color: white;
    font-size: 50px; /* Size of social media icons */
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
}

